@using DiansProject.DAL.Entities
@model List<Feature>

<style>
    #map {
        height:800px;
        width:100%;
}

</style>

<div id="map"></div>

<script>
    var map = L.map('map').setView([41.9981, 21.4254], 12);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        })
        .addTo(map);


    
    @foreach (var item in Model)
    {
        <text>
            var marker = L.marker([@item.Geometry.Latitude, @item.Geometry.Longitude]).addTo(map);
            marker
            .bindPopup(
                "Latitude: @item.Geometry.Latitude ,<br> Longitude: @item.Geometry.Longitude <br> " + 
                "<form action='Features/Details'> <input type='hidden' name='Id' value='@item.Id' />  <input type='submit' value='View Details' class='btn btn-primary' name='SubmitButton'/></form>"
            )
        </text>
    }
    
</script>